<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projekt w ramach przedmiotu Systemy Eksperckie 2018/2019</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
	<div class="container">
		<h1>Uzyskałeś wynik:</h1>
		<h1 th:text="${wynik}"></h1>
		<h2 th:text="${message}"></h2>
		
		<div class="form-group row">
			<a href="/system-ekspercki"><button type="button" class="btn btn-primary">Spróbuj jeszcze raz</button></a>
		</div>
	
	</div>
	
	

</body>
</html>
